/*--------------------------------------------------------------
# Archive Page
--------------------------------------------------------------*/

.browse-archives {

    .post-archives ul, .display-categories, .display-tags {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .post-archives ul li {
        font-size: 1rem;
        margin-bottom: .5rem;
        margin-right: 1.125rem;

        @include tablet {
            font-size: 1.25rem;
        }

    }

    .display-categories, .display-tags{
        margin-bottom: 1.5rem;

        a.tag-cloud-link {
            font-size: 1rem;
            margin-bottom: .5rem;
            margin-right: 1.125rem;
            
            @include tablet {
                font-size: 1.25rem !important;
            }
        }
    }
}
