/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content, .entry-content, .entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.hentry {
    margin: 0px 0 1.5rem;
}

.blog .entry-content, .page .entry-title {
    margin-top: $base__space-unit * 2;
}

.archive .entry-content p, .blog .entry-content p, .single .entry-content p {
	font-size: $base_font_size;
}

.archive .entry-title, .blog .entry-title, .single .entry-title {
    display: inline;
    font-size: $base_font_size;
	font-weight: 300;
}

.archive .entry-meta, .blog .entry-meta, .single .entry-meta {
    margin-bottom: 0;
}

.archive .source, .blog .source, .single .source {
    font-size: $base_font_size;
    font-style: italic;
}

.entry-content, .entry-summary, .page-content {
    margin: 1.5rem 0 0;
}

.entry-meta {
	display: inline-flex;
	line-height: 0.75rem;

	.source {
		line-height: 0.75rem;
	}
}