/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				}
			}	

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.site-info {
    display: flex;
    flex-wrap: wrap;
	margin: 4.5rem 0 3rem;

	p {
		flex: 0 1 100%;
		line-height: 1;

		@include tablet {
			display: inline-block;
			flex: 0 1 auto;
			padding-left: 1rem;
			}
		}
	
	.menu {
		display: inline-flex;
		list-style: none;
		margin: 1rem 0 0;
		padding: 0;

		li {
			border-right: 1px solid #fff;
			line-height: 1;
			padding: 0 1rem;

			&:first-child {
				padding-left: 0;
				}
			&:last-child {
					border-right: 1px solid #fff;
			}
		}
	}
}

button.new-quote-button {
	margin-top: $base__space-unit * 2;
	&:focus{
		outline: none;
	}
}
