
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    margin-top: 1rem;
}

.logo img {
    display: block;
    width: 300px;

    @include tablet {
        width: 500px;
    }
    @include desktop {
        margin: 0 auto;
        width: 700px;
      }
}