/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.number-pagination {
	margin-top: 3rem;
	
	a {
		padding: 0 .25rem;
	}
	span {
		padding: 0 .25rem;

	&:first-child {
		padding-left: 0;
		}
	}
}

/*---------------------------- Links ---------------------------- */

a, .success-message, .failure-message {
	color: $color__link;
	text-decoration: none;
	
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}



